:root {
  --green: #34c759;
  --orange: #e6b127;
  --red: #f06a4d;
  --red-active: #ff2f00;
  --firm: #9873ff;
  --firm-opacity: rgba(152, 115, 255, .5);
  --red-opacity: rgba(240, 106, 77, .5);
  --hover: #b89eff;
  --grey: #c8c5d1;
  --txt-grey: #b0b0b0;
  --black: #333;
  --white: #fff;
  --bg-grey: #f5f5f5;
  --active: #8052ff;
  --focus-shadow-firm: 0 0 0 0.25rem var(--firm-opacity);
  --focus-shadow-firm_socials: 0 0 0 0.15rem var(--firm-opacity);
  --focus-shadow-red: 0 0 0 0.25rem var(--red-opacity)
}

:root {
  --font-family: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-grey);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// End Root

// Components
.container {
  max-width: 1186px;
}

.text-grey {
  color: var(--txt-grey);
}

.h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}

.logo-skb {
  img {
    width: 50px;
    height: 50px;
  }
}

.social-list {
  gap: 6px;

  &__link {
    width: 16px;
    height: 16px;
    position: relative;

    svg {
      path {
        fill: var(--firm);
        opacity: .7;
        transition: all ease-in-out .1s;
      }
    }
  }

  &__link:hover {
    svg {
      path {
        fill: var(--firm);
        opacity: 1;
      }
    }

    .popup {
      visibility: visible;
    }
  }

  &__link:active {
    svg {
      path {
        fill: var(--active);
        opacity: 1;
      }
    }
  }

  &__link:focus-visible {
    outline-offset: 5px;
    outline-color: var(--active);

    svg {
      path {
        fill: var(--active);
        opacity: 1;
      }
    }
  }

  &__link:focus-visible {
    border: none;
    outline: none;

    svg {
      background-color: var(--white);
      border: none;
      border-radius: 100%;
      outline: 0;
      box-shadow: var(--focus-shadow-firm_socials)
    }

    .social-svg_path {
      border: none;
      outline: none;
    }
  }
}

.sort-btn {
  display: flex;
  background-color: transparent;
  color: var(--txt-grey);
  font-weight: 400;
  font-size: 12px;
  border: none;
  align-items: center;
  display: block;
  transition: color .15s ease-in-out;

  &__text {
    margin-right: 3px;
  }
}

.sort-btn:hover {
  color: var(--firm);
}

.sort-btn:active {
  color: var(--active);
}

.sort-btn:focus-visible {
  color: var(--hover);
  border: none;
  outline: 0;
  box-shadow: var(--focus-shadow-firm)
}


.action-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  transition: color ease-in-out .1s;
}

.change-button {
  border: none;
  outline: none;
}

.change-button:hover {
  color: var(--hover);
}

.btn.change-button:active,
.change-button.loading {
  color: var(--active);
}

.change-button:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--white);
  box-shadow: var(--focus-shadow-firm)
}

.delete-button {
  border: none;
  outline: none;
}

.delete-button:hover {
  color: var(--red);
}

.btn.delete-button:active,
.delete-button.loading {
  color: var(--red-active);
}

.delete-button:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--white);
  box-shadow: var(--focus-shadow-red)
}

.btn {
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 14px;
  background-color: transparent;
  align-items: center;
}

.btn-primary {
  border: 1px solid var(--firm);
  padding: 12.5px 26.5px;
  font-weight: 600;
  color: var(--firm);
  border-radius: 0;
}

.btn-primary:hover {
  background-color: var(--hover);
  border-color: var(--firm);
}

.btn.btn-primary:active {
  background-color: var(--active);
  border-color: var(--firm);
}

.btn-primary:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--hover);
  border-color: var(--firm);
  outline: 0;
  box-shadow: var(--focus-shadow-firm)
}

.btn_open-modal {
  margin: 20px auto;
  display: block;
}

.add-btn {
  svg {
    transition: .15s ease-in-out fill;
    fill: var(--firm);
  }
}

.add-btn:hover {
  svg {
    fill: var(--white);
  }
}

.add-btn:active {
  svg {
    fill: var(--white);
  }
}

.add-btn:focus-visible {
  svg {
    fill: var(--white);
  }
}

.add-btn:disabled {
  svg {
    fill: var(--bs-btn-disabled-border-color);
  }
}

.link-loader {
  display: none;
  animation: rotate 1.5s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.popup {
  content: "+7 (985) 443-00-00";
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  background-color: var(--black);
  padding: 7px 14px;
  color: var(--white);
  text-wrap: nowrap;
  visibility: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 50%;
    top: 25px;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--black);
  }
}


// End Components

/* Header */
.header {
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0 3px 6px 0 rgba(176, 190, 197, 0.32), 0 9px 27px 0 rgba(176, 190, 197, 0.32);

  &__logo {
    margin-right: 53px;
  }

  &__search {
    max-width: 580px;
    color: var(--black);
    border-color: var(--txt-grey);

    &::placeholder {
      color: var(--txt-grey);
    }
  }
}

// main
.add-client {
  margin-right: 10px;
}

.main {
  &__h1 {
    margin-bottom: 29px;
  }
}

.client-table {
  margin-bottom: 40px;

  &__time {
    margin-left: 7px;
  }

  &__head {
    th {
      background-color: transparent;
      color: var(--txt-grey);
      font-weight: 400;
      padding: 8px 15px;
      font-size: 12px;
      border: 0;
    }
  }

  &__body {

    tr {
      border-bottom: 1px solid var(--grey);
    }
  }

  td {
    padding: 20px;
    font-size: 14px;
    height: 60px;
  }

  &__btn {
    padding: 0;

    &.loading {
      img {
        display: none;
      }

      .link-loader {
        display: inline-block;
      }
    }
  }
}

// MODAL
.modal-dialog {
  width: 400px;
  height: 450px;

  &.modal {
    width: 100%;
    height: 100%;
  }
}

.modal-wrapper {
  background-color: rgba($color: #000000, $alpha: .8);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
}

.modal_ID {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--txt-grey);
}

.modal-form__sub-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: var(--txt-grey);
  margin: 0;
}

.form-control {
  border: none;
  border-bottom: 1px solid var(--grey);
  border-radius: 0;
  margin: 0;
  padding: 0;
  height: initial;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
}

.form-group {
  margin: 0 30px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.modal-header {
  border: 0;
  padding: 25px 30px 16px;
}

.modal-body {
  padding: 0px 0px 25px;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 24px;
  border: 0;

  .btn-primary {
    background-color: var(--firm);
    color: var(--white);
    padding: 13px 25px;
    margin: 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
  }

  .btn-delete {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--black);
  }
}

.btn__modal-add {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
  background-color: transparent;
  display: block;
  align-self: center;
}

.modal-contacts {
  background-color: rgba(200, 197, 209, .4);
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__btn-icon {
  width: 16px;
  height: 16px;
}
