@import './variables';

$font-family: "Open Sans", sans-serif;

html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: $font-family;
  background-color: $bg-grey;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// End Root

// Components
.container {
  max-width: 1186px;
}

.text-grey {
  color: $txt-grey;
}

.h1,
.h2,
.h3 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 24px;
  color: $black;
}

.logo-skb {
  img {
    width: 50px;
    height: 50px;
  }
}

.social-list {
  gap: 6px;

  &__link {
    width: 16px;
    height: 16px;
    position: relative;

    svg {
      path {
        fill: $firm;
        opacity: .7;
        transition: all ease-in-out .1s;
      }
    }
  }

  &__link:hover {
    svg {
      path {
        fill: $firm;
        opacity: 1;
      }
    }

    .popup {
      visibility: visible;
    }
  }

  &__link:active {
    svg {
      path {
        fill: $active;
        opacity: 1;
      }
    }
  }

  &__link:focus-visible {
    outline-offset: 5px;
    outline-color: $active;

    svg {
      path {
        fill: $active;
        opacity: 1;
      }
    }
  }

  &__link:focus-visible {
    border: none;
    outline: none;

    svg {
      background-color: $white;
      border: none;
      border-radius: 100%;
      outline: 0;
      box-shadow: $focus-shadow-firm_socials
    }

    .social-svg_path {
      border: none;
      outline: none;
    }
  }
}

.sort-btn {
  display: flex;
  background-color: transparent;
  color: $txt-grey;
  font-weight: 400;
  font-size: 12px;
  border: none;
  align-items: center;
  display: block;
  transition: color .15s ease-in-out;

  &__text {
    margin-right: 3px;
  }
}

.sort-btn:hover {
  color: $firm;
}

.sort-btn:active {
  color: $active;
}

.sort-btn:focus-visible {
  color: $hover;
  border: none;
  outline: 0;
  box-shadow: $focus-shadow-firm
}


.action-btn {
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  color: $black;
  transition: color ease-in-out .1s;
}

.change-button {
  border: none;
  outline: none;
}

.change-button:hover {
  color: $hover;
}

.btn.change-button:active,
.change-button.loading {
  color: $active;
}

.change-button:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: $white;
  box-shadow: $focus-shadow-firm
}

.delete-button {
  border: none;
  outline: none;
}

.delete-button:hover {
  color: $red;
}

.delete-button:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: $white;
  box-shadow: $focus-shadow-red
}

.btn.delete-button:active,
.delete-button.loading {
  color: $red-active;
}


.btn {
  font-weight: 500;
  font-family: $font-family;
  font-size: 14px;
  background-color: transparent;
  align-items: center;
  width: fit-content;
}

.btn:active {
  box-shadow: none !important;
  border-color: none;
}

.btn-primary {
  border: 1px solid $firm;
  padding: 12.5px 26.5px;
  font-weight: 600;
  color: $firm;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: $hover;
  border-color: $firm;
  box-shadow: none;
}

.btn-primary:active {
  background-color: $active !important;
  border-color: $firm !important;
}

.btn-primary:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: $hover;
  border-color: $firm;
  outline: 0;
  box-shadow: $focus-shadow-firm
}

.btn_open-modal {
  margin: 20px auto;
  display: block;
}

.add-btn {
  svg {
    transition: .15s ease-in-out fill;
    fill: $firm;
  }
}

.add-btn:hover {
  svg {
    fill: $white;
  }
}

.add-btn:active {
  svg {
    fill: $white;
  }
}

.add-btn:focus-visible {
  svg {
    fill: $white;
  }
}

.add-btn:disabled {
  svg {
    fill: var(--bs-btn-disabled-border-color);
  }
}

.link-loader {
  display: none;
  animation: rotate 1.5s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.popup {
  content: "+7 (985) 443-00-00";
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  background-color: $black;
  padding: 7px 14px;
  color: $white;
  text-wrap: nowrap;
  visibility: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 50%;
    top: 25px;
    transform: translateX(-50%) rotate(45deg);
    background-color: $black;
  }
}


// End Components

/* Header */
.header {
  padding: 20px;
  background-color: $white;
  box-shadow: 0 3px 6px 0 rgba(176, 190, 197, 0.32), 0 9px 27px 0 rgba(176, 190, 197, 0.32);

  &__logo {
    margin-right: 53px;
  }

  &__search {
    max-width: 580px;
    color: $black;
    border-color: $txt-grey;

    &::placeholder {
      color: $txt-grey;
    }
  }
}

// main
.add-client {
  margin-right: 10px;
}

.main {
  &__h1 {
    margin-bottom: 29px;
  }
}

.client-table {
  margin-bottom: 40px;

  &__time {
    margin-left: 7px;
  }

  &__head {
    th {
      background-color: transparent;
      color: $txt-grey;
      font-weight: 400;
      padding: 8px 15px;
      font-size: 12px;
      border: 0;
    }
  }

  &__body {

    tr {
      border-bottom: 1px solid $grey;
    }
  }

  td {
    padding: 20px;
    font-size: 14px;
    height: 60px;
  }

  &__btn {
    padding: 0;

    &.loading {
      img {
        display: none;
      }

      .link-loader {
        display: inline-block;
      }
    }
  }
}

// MODAL
.modal {
  width: 100%;
  height: 100%;

  &__wrapper {
    max-width: 400px;
    max-height: 450px;
  }

  &__title {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    color: $black;
  }

  &__sub-title {
    font-weight: 400;
    font-size: 10px;
    color: $txt-grey;
    margin: 0;
  }

  &__sub-title_ID {
    font-size: 12px;
  }

  &__header {
    border: 0;
    padding: 25px 30px 16px;
  }

  &__body {
    padding: 0px 0px 25px;
  }

  &__contacts {
    background-color: rgba(200, 197, 209, .2);
    padding: 25px 0;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
  }

  &__input {
    background-color: inherit;
    border: 2px solid $grey;
    border-left: none;
  }

  &__input:focus-visible {
    outline: 0;
    border-color: grey;
  }

  &__option {
    padding: 10px 60px 10px 12px;
    overflow: hidden;
    border: 2px solid $grey;
    position: relative;
    transition: transform .2s ease-in-out;
  }

  &__option_arrow-225::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid $firm;
    border-left: 2px solid $firm;
    transform: rotate(225deg);
    right: 10px;
    top: 12px;
  }

  &__option_arrow-45::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid $firm;
    border-left: 2px solid $firm;
    transform: rotate(45deg);
    right: 10px;
    top: 17px;
  }

  &__option-list {
    overflow: hidden;
    background-color: red;
    width: 100%;
    // border: 2px solid $grey;
    position: absolute;

    .open {
      background-color: red;
    }
  }

  &__select {
    background-color: $mischka;
    font-size: 12px;
    outline: none;
    border-right: none;
    position: relative;

    ul {
      position: absolute;
      overflow: hidden;
      transition: max-height .5s ease-in-out;
      width: 100%;
      border-top: none;
    }

    li {
      padding: 10px 32px 10px 12px;
      background-color: #F4F3F6;
    }

  }

  &__select:focus-visible {
    outline-color: none !important;
    border-color: grey;
  }

  &__footer {
    padding: 0px 30px 24px;
    border: 0;

    .btn-primary {
      background-color: $firm;
      color: $white;
      padding: 13px 45px;
      margin: 0;
      font-weight: 400;
    }

    .btn_delete {
      font-size: 12px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      padding: 5px;
      margin-top: 5px;
    }

    .btn_delete:focus-visible {
      outline: auto;
      outline-color: $firm;
    }
  }

  &__btn-icon {
    width: 16px;
    height: 16px;
  }

  &__add-btn {
    font-weight: 600;
    font-size: 14px;
    gap: 5px;
  }

  &__add-btn:hover {
    color: $firm;
  }

  &__add-btn:focus-visible {
    color: $firm;
    outline: auto;
    outline-color: $firm;
  }

  &__add-btn:focus-visible {
    svg {
      fill: $firm;
    }
  }


  .close {
    background-color: inherit;
    border: none;
  }

  .close path {
    fill: $txt-grey;
    transition: fill .2s ease-in-out;
  }

  .close:hover path {
    fill: $red;
  }

  .close:active path {
    fill: $red-active;
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid $grey;
  border-radius: 0;
  margin: 0;
  padding: 0;
  height: initial;

  font-family: $font-family;
  font-weight: 600;
  font-size: 14px;
  color: $black;
}

.form-control:focus {
  box-shadow: none;
  border-color: $firm;
}


.form-group {
  margin: 0 30px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}