$green: #34c759;
$orange: #e6b127;
$red: #f06a4d;
$red-active: #ff2f00;
$firm: #9873ff;
$firm-opacity: rgba(152, 115, 255, .5);
$red-opacity: rgba(240, 106, 77, .5);
$hover: #b89eff;
$grey: #c8c5d1;
$txt-grey: #b0b0b0;
$black: #333;
$white: #fff;
$bg-grey: #f5f5f5;
$active: #8052ff;
$focus-shadow-firm: 0 0 0 0.25rem $firm-opacity;
$focus-shadow-firm_socials: 0 0 0 0.15rem $firm-opacity;
$focus-shadow-red: 0 0 0 0.25rem $red-opacity;
$mischka: #e7e5eb;